@font-face {
    font-family:poppinsReg;
    src:url(bin/fonts/poppins/Poppins-Regular.ttf);
    }
    
    .under-construction {
    font-family:poppinsReg, Bahnschrift, arial;
    text-align:center;
    color:#000;
    font-size:x-large;
    }
    
    .under-construction h3 {
    margin:0;
    padding:0;
    }
    
    .under-construction h1 {
    margin-bottom:0;
    margin-top:6em;
    }
    
    .nav-logo-image {
    width:12%;
    margin-left:3em;
    }
    
    .nav-link-container {
    width:87%;
    display:flex;
    justify-content:flex-end;
    padding-right:2.5em;
    }
    
    .nav-link-a {
    color:#000;
    text-decoration:none;
    margin:1.7em .5em;
    }
    
    .about-me-container {
    display:flex;
    width:80%;
    margin:2em auto;
    }
    
    .about-me-image {
    width:100%;
    }
    
    .about-me-bio {
    width:60%;
    }
    
    .bio-social-link a {
    color:#000;
    text-decoration:none;
    }
    
    .bio-social-link-img {
    width:1.5em;
    height:1.5em;
    margin-right:1em;
    }
    
    .gear-list-container {
    width:70%;
    display:none;
    margin:auto;
    }
    
    .gear-list-container h1 {
    text-align:center;
    }
    
    .page-footer {
    text-align:center;
    margin-top:4em;
    }
    
    .copyright-tag {
    margin-bottom:0;
    }
    
    .copyright-rights {
    margin-top:0;
    margin-left:2px;
    }
    
    body {
    font-family:poppinsReg, Helvetica, sans-serif;
    color:#000;
    }
    
    .nav-menu,.bio-social-link,.gear-list-item {
    display:flex;
    }
    
    .gear-list-item-desc,.gear-list-item-img {
    width:45%;
    }