@font-face {
    font-family: poppinsReg;
    src: url(bin/fonts/poppins/Poppins-Regular.ttf);
}

.under-construction {
    font-family: 'poppinsReg', 'Bahnschrift', 'arial';
    text-align: center;
    color: black;
    font-size: x-large;
}

.under-construction h3 {
    margin: 0%;
    padding: 0%;
}

.under-construction h1 {
    margin-bottom: 0%;
    margin-top: 6em;
}